{% load btags %}

{% for bookset in booksets %}

    {{ bookset.name }} - {{ bookset.number_of_books }} книг <br>
    
{% endfor %}



{% comment %}

рендер списка буксетов

пример вызова
{% bookset_list %}

в шаблон передаются переменные
booksets - массив буксетов

каждый буксет имеет следующие поля
    name
    db 
    query_type
    query
    time = Обновляется каждый день, в это время
    number_of_books
    last_time_update - Последний раз обновлялось
    view_me - флаг пкоазывать или нет на сайте
    about - Описание набора книг, будет выводиться на сайте
    comment - Техническое описание набора книг, доступно только из админки
    books - массив книг


у db следующие поля
    name = CharField(u'Название', max_length=50)
    host = CharField(u'Хост', max_length=50)
    port = IntegerField(u'Порт', default=210)
    db = CharField(u'База данных', max_length=50)
    syntax = CharField(u'Синтаксис', max_length=50, choices=SYNTAX_CHOICES)
    encoding = CharField(u'Кодировка', max_length=50)
    url = CharField(u'url', max_length=50)
    about = TextField(u'Описание базы данных', blank=True)
{% endcomment %}
