<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}libmirea debug page{% endblock title %}</title>
    <link rel="icon" href="/media/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/media/img/favicon.ico" type="image/x-icon"> 
    <link href="/media/css/debug.css" type="text/css" rel="stylesheet">
  </head>
	
  <body>
    <hr>
	{% block body %}<h1>Blank Debug Page</h1>
	{% endblock body %}
    <p class="date">{% now "j F Y года, H:i:s" %}</p>
  </body>
</html>