{% extends "debug-base.html" %}
{% block title %}Custom Query{% endblock title %}
{% block body %}
{% load btags %}
		<h1>Custom Query Debug</h1>
		<h2>Query</h2>
		<form action="./" method="get">
			{{ form.as_p }}
			<p><input type="submit" value="Выполнить"></p>
		</form>
		
		<h2>Result</h2>
		<p><span class="par-name">Length</span> {{b_len}}</p>
		<ol>
			{% for book in books %}<li>
		      {% book_render db.url book '/debug' %}
			</li>{% endfor %}
		</ol>

		<h2>Result IDs</h2>
		<pre>
{% for book in books %}{{ book.id }}
{% endfor %}
		</pre>
{% endblock body %}

{% comment %} 
переменные доступные в данном шаблоне
    form
    books
    b_len
    db
{% endcomment %}
